/*DESKTOP*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    background: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

main {
    width: 350px;
    margin: 150px auto;
    padding: 24px;
    background: hsl(216, 50%, 16%);
    border-radius: 15px;
}

.container {
    width: 100%;
    height: auto;
    position: relative;
}

.hero {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition-property: background;
    transition-duration: 3s;
}

.herohover {
    background-color: hsla(178, 100%, 50%, .5);
    position: absolute;
    top: 0;
    height: 302px;
    width: 302px;
    border-radius: 8px;
    opacity: 0;
    transition: all;
    transition-duration: 3s;
}

.herohover:hover,
h1:hover,
.name:hover {
    opacity: 1;
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.iconeye {
    position: absolute;
    top: 127px;
    left: 127px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: hsl(0, 0%, 100%);
    margin: 20px 0 16.5px 0;
    font-weight: 600;
    font-size: 22px;
    transition: all;
    transition-duration: 3s;
}

.info {
    color: hsl(215, 51%, 70%);
    margin: 0 0 22px 0;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.48;
}

.price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    font-size: 16px;
}

.ic {
    margin-right: 7px;
}

.eth {
    color: hsl(178, 100%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-shadow: 0 0 2px hsl(178, 100%, 50%);
    letter-spacing: .3px;
}

.cl {
    color: hsl(215, 51%, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    font-weight: 300;
    letter-spacing: .2px;
}

.cl label {
    margin-right: 1.4px;
}

.empty {
    height: 1px;
    width: 100%;
    background: hsl(215, 32%, 27%);
    margin-bottom: 16px;
}

.profile {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 16px;
}

.profile img {
    height: 33px;
    width: 33px;
    border: solid 1px hsl(0, 0%, 100%);
    border-radius: 50%;
}

.pinfo .lname {
    margin-left: 16px;
    color: hsl(215, 51%, 70%);
    letter-spacing: .2px;
}

.name {
    color: hsl(0, 0%, 100%);
    transition: all;
    transition-duration: 3s;
    letter-spacing: .1px;
}

/*MOBILE*/

@media only screen and (max-width: 375px) {
    main {
        width: calc(100vw - 48px);
        margin: 62px auto;
    }

    .herohover {
        height: calc(100% - 3px);
        width: 100%;
    }

    .iconeye {
        top: calc(50% - 24px);
        left: calc(50% - 24px);
    }

    h1 {
        margin: 20px 0 14px 0;
        font-size: 22px;
    }

    .info {
        margin: 0 0 14px 0;
        font-size: 16px;
        line-height: 1.6;
    }

    .price {
        margin-bottom: 16px;
        font-size: 15px;
    }

    .profile {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 20px;
    }

    .info {
        font-size: 15px;
        line-height: 1.4;
    }

    .price {
        font-size: 14px;
    }

    .pinfo {
        font-size: 14px;
    }

}